:root{
    --bobapink:#F9B9BB;
    --secondary: #843442;
    --hotpink:#FB9CAD;
    --cream:#FFF6F1;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
    }
    body{
    padding: 0;
    margin: 0;
    min-height: 100%;
    }
html{
    font-family: sans-serif;
    min-height: 100%;
}
.svg-container{
    width: 100%;
    overflow: hidden;
    position: fixed;
    display: inline-block;
    padding-bottom: 100%;
    
    z-index: 1;
    left: -10%;
}

.svg-wave{
    width: 100%;
    height: auto;
    max-width: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
#root{
    display: block;
    width: 100%;
    min-height: 100%;
}
header{
min-height: 100vh;
position: relative;

width: 100%;
display: block;
}
header#hero{
    background: var(--cream);
}
header#hero h1{
    color: var(--hotpink);
}
header > .wrapper{
   min-height: 100vh;
   display: flex;
   align-items: center;
   z-index: 20;
   flex-direction: row;
   position: relative;
   justify-content: space-between;
   width: 65%;
   padding-top: 5%;

}
#main-nav .right{
    font-size: 20px;
}
#cart{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size:2em;
    
}
#cart #cartnum{
    display: table;
    padding: 0;
    font-size: 0.3em;
    position: relative;
    top: 5px;
    background-color: var(--secondary);
    border-radius: 50%;
    padding: 0.3em 0.6em;
    z-index: 1;
    color: white;
}
#carticon{
    text-align: center;
    position: relative;
 z-index: 2;
    top: -8px;
    left: -2px;
    fill: var(--hotpink);
}
header #intro{
    font-size: 4vw;
}
img#bobaimg{
    width: 18vw;
    transform: rotate(-25deg) scaleX(-1);
    position: relative;
    right: 2%;
}

#main-nav{
    position:fixed;
    z-index: 100;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid var(--cream);
   
}
#main-nav.clearBg{
    background-color: transparent;
    border-bottom: none;
}

section, main, #cartlist{
  position: relative;
  padding-top: 90px;
}
.ReactModal__Overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(211, 208, 205, 0.4) !important;
}
.popupModal{
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    justify-content: space-around;
    padding: 24px;
}
.ReactModal__Content{
    width: 30%;
    display: table;
    top: 50% !important;
    margin: 0 auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    padding: 20px 0;
}
#main-nav > .wrapper{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    
}
nav .nav-item{
    display: inline-table;
    padding: 10% 12px;
    text-decoration: none;
font-size: 1.4em;
color: var(--secondary);
}

.nav-item.active{
    font-weight: 800;
}
.wrapper{
    
    width: 75%;
    margin: 0 auto;
}
#menu > .wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item{
    padding: 12px;
    width: 33%;
    text-align: center;
    position: relative;;
    margin-bottom: 2em;
    text-decoration: none;
    color: rgb(54, 47, 54);
    
}
.item .imgContainer{
    
    margin: 0 auto;
    display: table;
    text-align: center;
    
    width: 100%;
    height: 90%;
    
   display: flex;
    align-items: center;
    
}
.item img{
    width: 40%;
display: table;
margin: 0 auto;
}
.topping{
    display: inline-table;
    margin-left: 4px;
}

.topping  input{
    opacity: 0;
    height: 0;
    width: 0;
}
.topping label{
    display: inline-table;
    padding: 12px;
    color: var(--bobapink);
    border: 1px solid;
    margin-right: 4px;
    
}
input:checked+label{

    background-color: var(--bobapink);
    color:white;
}

.cartitem .topping{
    display: inline-table;
    padding: 6px 0px;
   
    
    margin-right: 4px;
    
    border-radius: 15%;

}
.cartitem .topping::after{
    display: inline-table;
    content: ",";

}
.cartitem .topping:last-of-type::after{
    display: inline-table;
    content: "";

}
.cartitem .iteminfo{
    display: block;
    text-decoration: none;
   color: inherit;
}
 
.cartitem{
    margin-bottom: 10px;
    display: block;
    transform: scale(1);
    -webkit-transform: scale(1);
    position: relative;
    top: 0;
    width: 100%;
    transform-origin:center;
    -webkit-transform-origin:center;
    padding: 12px;
    opacity: 1;
    overflow: hidden;
    border:1px solid rgb(233, 225, 229);
    
}
.cartitem.hide{
  opacity: 0;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  padding: 0;
  height: 0;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-in;
  margin: 0;
  border:none
}

.cartitem.fadein{
    animation: grow 0.2s ease-in 1 normal forwards;
    -webkit-animation: grow 0.2s ease-in 1 normal forwards;
    transform: scaleY(0); 
    opacity: 0;
    padding: 0;
    border: none;
    transform-origin:center;
}
@keyframes grow {
    from{
        transform: scaleY(0); 
        -webkit-transform: scaleY(0); 
        opacity: 0;
        padding: 0;
        border: none;
        transform-origin:center;
        -webkit-transform-origin:center;
        
    }to{
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        opacity: 1;
        padding: 12px;
       border: initial;
       transform-origin:center;
       -webkit-transform-origin:center;
    }
    
}