:root {
  --bobapink: #f9b9bb;
  /*--secondary: #843442;*/
  --hotpink: #fb9cad;
  --cream: #fff6f1;
  --secondary: #772234;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}
html {
  font-family: sans-serif;
  min-height: 100%;
}
.svg-container {
  width: 100%;
  overflow: hidden;
  position: fixed;
  display: inline-block;
  padding-bottom: 100%;

  z-index: 1;
  left: -10%;
}

.svg-wave {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

#root {
  display: block;
  width: 100%;
  min-height: 100%;
}
header {
  min-height: 100vh;
  position: relative;

  width: 100%;
  display: block;
}
header#hero {
  background: var(--cream);
}
header#hero h1 {
  color: var(--hotpink);
}
header > .wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  z-index: 20;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 65%;
  padding-top: 5%;
}
#main-nav .right {
  font-size: 20px;
}
#main-nav .left {
  display: inline-flex;
  align-items: center;
}

#cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 2em;
}
.menu.btn {
  padding: 0.2em 0.4em;
  margin-top: 1em;
  background-color: var(--secondary);
  border-radius: 12px;
  color: var(--cream);
}
.menu.btn:hover {
  background-color: #8b273d;
}
#emptycart-page {
  gap: 15px;
  color: rgb(58, 58, 58);
  font-size: 1.5em;
  line-height: 1.5;
  background-color: var(--cream);
}
#emptycart-page h4 {
  font-size: 2em;
  color: rgb(48, 48, 48);
  font-weight: 400;
  letter-spacing: 1px;
}
img#empty-cart {
  height: 30vh;
  min-height: 200px;
}
.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px 10px;
  padding: 0.1rem 0.2rem;
  background-color: transparent;
  border-radius: 50%;
  border: none;
}
#cart #cartnum {
  display: table;
  padding: 0;
  font-size: 0.3em;
  position: relative;
  top: 5px;
  background-color: var(--hotpink);
  border-radius: 50%;
  padding: 0.4em 0.4em;

  z-index: 3;
  color: var(--secondary);
}
#carticon {
  text-align: center;
  position: relative;
  z-index: 2;
  top: -8px;
  left: -2px;
  fill: var(--secondary);
}
header #intro {
  font-size: 4vw;
  padding-top: 10%;
}
img#bobaimg {
  width: 18vw;
  transform: rotate(-25deg) scaleX(-1);
  position: relative;
  right: 2%;
}

#main-nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid var(--cream);
}
#main-nav.clearBg {
  background-color: transparent;
  border-bottom: none;
}

section,
main,
#cartlist {
  position: relative;
  padding-top: 97px;
}
.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(211, 208, 205, 0.4) !important;
  z-index: 101;
}
.popupModal {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  justify-content: space-around;
  padding: 24px;
}
.ReactModal__Content {
  width: 40%;
  display: table;
  top: 50% !important;
  margin: 0 auto;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  padding: 20px 10px;
}
#main-nav > .wrapper {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
nav .nav-item {
  display: inline-table;
  padding: 10% 12px;
  text-decoration: none;
  font-size: 1.4em;
  color: var(--secondary);
}

.nav-item.active {
  font-weight: 800;
}
.wrapper {
  width: 75%;
  margin: 0 auto;
  min-width: 200px;
}
#menu > .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item {
  padding: 12px;
  width: 33%;
  text-align: center;
  position: relative;
  margin-bottom: 2em;
  text-decoration: none;
  color: rgb(54, 47, 54);
  display: inline-table;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  transform-origin: top;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
  -webkit-transform-origin: top;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  width: 100%;
}
.row .col {
  display: inline-table;
  width: 40%;
}
#orderform {
  margin-top: 23px;
  font-size: 1.6vw;
  min-height: 70vh;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 32px;
  border-radius: 10px;
  width: 90%;
  display: inline-flex;
}
main#orderpage {
  padding-bottom: 4%;
  min-height: 100vh;
}
#orderpage .wrapper {
}
#orderform h2 {
}
#itemImgContainer {
  width: 40%;
  padding-left: 10px;
  min-width: 200px;
  margin-bottom: 20px;
}
#itemImgContainer > img {
  width: 90%;
  display: table;
}
#orderform #form {
  padding-top: 4px;
  width: auto;
  padding-left: 20%;
}
#form1 {
  font-size: 1.6vw;
  padding-right: 12px;
  position: relative;
  z-index: 10;
  margin-top: -80px;
  background: white;
  border-radius: 12px;
  line-height: 1.5;
}
#orderform label.subtitle {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

#form1 fieldset {
  width: 100%;
  display: inline-table;
  border: none;
}
#form1 fieldset legend {
  padding-top: 32px;
  font-weight: 300;
  font-size: 2rem;
  text-transform: uppercase;
}

#orderpage button[type="submit"] {
  padding: 12px;
  background-color: var(--hotpink);
  display: block;
  border: none;
  border-radius: 1px;
  font-size: 1.2em;
  color: white;
  width: 100%;

  position: relative;
}
#orderpage button[type="submit"]:hover {
  background-color: #f3869a;
}

form p {
  margin-bottom: 32px;
  margin-top: 20px;
}
.item:hover,
#itemImg:hover {
  opacity: 0.8;
  filter: saturate(2);
  -webkit-filter: saturate(2);
  color: rgb(88, 71, 88);
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
}
.iteminfo:hover {
  cursor: pointer;
}
.item .imgContainer {
  margin: 0 auto;
  display: table;
  text-align: center;

  width: 100%;
  height: 90%;

  display: flex;
  align-items: center;
}
.item img {
  width: 40%;
  display: table;
  margin: 0 auto;
}
.topping {
  display: inline-table;
  margin-left: 4px;
  line-height: 1.5;
}
input#qty {
  width: 100%;
  padding: 0.5em;
}
.topping input {
  opacity: 0;
  height: 0;
  width: 0;
}
.topping label {
  display: inline-table;
  padding: 12px;
  color: var(--hotpink);
  border: 1px solid;
  margin-right: 4px;
  border-radius: 12px;
  margin-bottom: 0.5rem;
}
input[type="checkbox"]:checked + label {
  background-color: #fae8ec;
}

.cartitem .topping {
  display: inline-table;
  padding: 6px 0px;

  margin-right: 4px;

  border-radius: 15%;
}
.cartitem .topping::after {
  display: inline-table;
  content: ",";
}
.cartitem .topping:last-of-type::after {
  display: inline-table;
  content: "";
}
main#cartitems {
  display: inline-block;
  padding-top: 0;
  flex: 1;
  height: 80vh;
  overflow-y: scroll;
  position: relative;
  /*background: url("./assets/pinkleaf.png") 100% 100% no-repeat;*/
  background-size: 25vh;
  background-position-y: 100%;
}
.cartitem .iteminfo {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.cartitem {
  margin-bottom: 10px;
  display: block;
  transform: scale(1);
  -webkit-transform: scale(1);
  position: relative;
  top: 0;
  background-color: rgba(255, 255, 255, 0.75);
  transform-origin: center;
  -webkit-transform-origin: center;
  padding: 12px;
  opacity: 1;
  overflow: hidden;

  border-radius: 12px;
  width: 100%;
  padding: 12px 60px;
}
.cartitem.hide .iteminfo img.col {
  opacity: 0;
}
.cartitem.hide {
  opacity: 0;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  padding: 0;
  height: 0;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-in;
  margin: 0;
  border: none;
}
.cartitem.fadein .iteminfo img.col {
  opacity: 0;
}
.cartitem.fadein {
  animation: grow 0.2s ease-in 1 normal forwards;
  -webkit-animation: grow 0.2s ease-in 1 normal forwards;
  transform: scaleY(0);
  opacity: 0;
  padding: 0;
  border: none;
  transform-origin: center;
}
.iteminfo {
  align-items: center;
  cursor: pointer;
  display: table;
}
.iteminfo img.col {
  width: 8%;
  display: inline-table;
}
.iteminfo .textinfo {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  width: 100%;
  text-align: right;
}
.addDeleteBtns {
  padding-left: 10%;
  margin-left: 10%;
  padding-top: 12px;
  text-align: right;
}
.addDeleteBtns button {
  margin-right: 12px;
  display: inline-table;
  font-size: 20px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  color: var(--secondary);
  border: 1px solid var(--secondary);
}
.addDeleteBtns button:hover {
  opacity: 0.6;
}
#emotyCartbtn {
  margin: 12px 0;
}
@keyframes grow {
  from {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    opacity: 0;
    padding: 0;
    border: none;
    transform-origin: center;
    -webkit-transform-origin: center;
  }
  to {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    opacity: 1;
    padding: 12px;
    border: initial;
    transform-origin: center;
    -webkit-transform-origin: center;
  }
}
#cartlist {
  background: var(--cream);
  min-height: 100vh;
}
#cartlist .wrapper {
  display: flex;
  gap: 10px;
}
.w-100 {
  width: 100%;
}
#cartlist #side {
  width: 20%;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.mb-10 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 0.2rem;
}
.mb-3 {
  margin-bottom: 0.3rem;
}
.bg-lightpink {
  background-color: #fadadb;
}
.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.full-height {
  height: 100vh;
}
.uppercase {
  text-transform: uppercase;
}
.bold-300 {
  font-weight: 300;
}
.padding-m {
  padding: 0.3rem;
}
#check-icon {
  fill: rgb(43, 195, 16);
  width: 3em;
  height: auto;
}
.text-center {
  text-align: center;
}
#price-info > div,
#checkout-btn {
  padding: 0.5em;
}
.bold-600 {
  font-weight: 600;
}
#confirm-title {
  font-size: 2.5em;
}
#cartlist #total-price {
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid var(--bobapink);
  border-radius: 5px;
}
.btn.primary {
  background-color: var(--hotpink);
  padding: 0.4em 0.5em;
  font-size: 1.3em;
  border-radius: 5px;
  color: white;
}
.btn.primary:hover {
  background-color: #f3869a;
}
.btn {
  -webkit-appearance: none;
  border: none;
  text-decoration: none;
}
side h1 {
  display: table;
  width: auto;
}
.vcenter {
}
#side .vcenter em {
  font-weight: 900;
  font-size: 4rem;
  font-style: normal;
}
@media only screen and (orientation: portrait) {
  .item {
    padding: 4px;
    width: 45%;
  }
  .item img {
    width: 60%;
  }
  .wrapper {
    width: 85%;
  }

  #orderform {
    margin-top: 23px;
    font-size: 4vw;
    min-height: auto;
    align-items: unset;
    flex-direction: column;
  }
  #itemImgContainer {
    width: 100%;
    padding-left: 10px;
    min-width: 400px;
  }
  #itemImgContainer > img {
    width: 20%;
    display: table;
  }
  #orderform #form {
    padding-top: 10px;
    width: 100%;
    padding-left: 0;
  }
  .ReactModal__Content {
    width: 70%;
    display: table;
  }
  #orderpage input[type="submit"] {
    width: auto;
  }
}
